**/.ipynb_checkpoints/
**/__pycache__/
**/.vscode/

archived/
tests/
**/co-projection/
**/vmd/
**/ftrajs/
**/dtrajs/
**/ttrajs/
**/samples/
**/visualisation/

*.bmp
*.bmp.bmp
*.dcd
*.gif 
*_tmat.npy
*.npz