**/.ipynb_checkpoints/
**/__pycache__/
**/.vscode/

archived/
tests/
**/co-projection/
**/vmd/
**/ftrajs/
**/dtrajs/
**/ttrajs/
**/models/
**/visualisation/
**/movie/

*.bmp
*.bmp.bmp
*.dcd
*.gif 
*_tmat.npy
*.npz
*.ppm
